.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/Image/Rectangle1.png");

  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__info {
  display: flex;
  align-items: center;
}

.home__infoLeft {
  flex: 0.5;
  width: 30%;
  padding-left: 30px;
}

.home__infoLeft > h1 {
  font-size: 60px;
  color: white;
  padding: 20px;
}

.home__infoLeft > p {
  color: white;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.home__infoLeft > button {
  background: #f9a51a;
  border-radius: 5px;
  padding: 12px 29px;
  display: flex;
  align-items: center;
  border: none;
  margin-left: 20px;
  outline-width: 0px;
  cursor: pointer;
}

.home__infoLeft > button:hover {
  background: #f9a31ae8;
}

.home__infoRight {
  flex: 0.5;
  display: flex;
}

.home__navigatorIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.home__navigatorIcons > .MuiSvgIcon-root {
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin: 10px 10px;
}

@media (max-width: 1200px) {
  .home {
    height: fit-content;
  }
  .home__info {
    display: flex;
    flex-direction: column;
  }
  .home__infoLeft {
    width: 80%;
    margin: 0 auto;
  }
  .home__infoRight {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
