.search__info {
  width: 90%;
  margin: auto;
}
.search__info > hr {
  margin-bottom: 20px;
}

.search__info > h2 {
  font-size: 30px;
  font-weight: 600;
}

.search__results {
  display: flex;
  align-items: flex-start;
}
.search__resultsInfo {
  flex: 0.5;
}
.search__resultsImg {
  flex: 0.5;
  margin-left: 50px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 508px;
  width: 433px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 508px;
  width: 433px;
}

@media (max-width: 1000px) {
  .search__results {
    display: flex;
    flex-direction: column;
  }
  .search__resultsImg {
    width: 90% !important;
    margin: 100px auto !important;
  }
  .mapouter {
    margin: auto;
  }
  .gmap_canvas {
    margin: 0px auto !important;
  }
}
