.searchResult {
  display: flex;

  margin-top: 20px;
  justify-content: flex-start;
}
.searchResult > img {
  width: 30%;
  object-fit: contain;
  margin-right: 30px;
}
.searchResult__info {
  line-height: 2;
  padding-right: 30px;
}

.searchResult__info > h2 {
  font-size: 16px;
}

.searchResult__info > p {
  font-size: 14px;
  color: lightgray;
}

.searchResult__infoPrice {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: lightgray;
}

@media (max-width: 500px) {
  .searchResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
  }
  .searchResult > img {
    width: 80%;
    object-fit: contain;
    /* margin-right: 30px; */
    margin: 0px;
    margin-bottom: 20px;
  }
  .mapouter {
    width: 100% !important;
  }
  .gmap_canvas {
    width: 100% !important;
  }
  .gmap_canvas > iframe {
    width: 100% !important;
  }
}
